<style>
           
            body{
                color: white
            }
            body {
                
                background-color: lightgrey
            }

                .uppercase{
                    text-transform: uppercase;
                }

            	a
</style>