<style>
           
            body{
                color: white
            }
            body {
                
                background-color: lightgrey
            }

                .uppercase{
                    text-transform: uppercase;
                }
            body{
                background-color: lightblue;
                padding: 50px;
                border: 20px solid black;
                margin: 100px;
            }
            div{
                margin:0px;
            }
</style>